@font-face {
    font-family: srexp;
    src:  url(/fonts/superrichexpanded.otf);
}

@font-face {
    font-family: coolvetica;
    src: url(/fonts/coolveticarg.otf)
}

.indexjustincasetherestwoelementsinaddivandthebuttongetsextraspacebetweenotherbuttons {
    margin-top: -16px;
    margin-bottom: -16px;
}

/*for teleporter*/
.img {
    color: peachpuff;
}

.img:hover {
    color: rgb(255, 46, 46);
}

.vid {
    color: rgb(255, 185, 249);
}

.vid:hover {
    color: rgb(178, 46, 255);
}

.mograph {
    color: rgb(185, 255, 200);
}

.mograph:hover {
    color: rgb(24, 255, 128);
}

.audio {
    color: rgb(195, 185, 255);
}

.audio:hover {
    color: rgb(67, 46, 255);
}

.other {
    color: rgb(189, 189, 189);
}

.other:hover {
    color: rgb(141, 255, 249);
}

.mpack {
    color: rgb(252, 255, 69);
}

.mpack:hover {
    color: rgb(255, 84, 16);
}
/**/

.quickgrab {
    color: lime;
}

.quickgrab:hover {
    color: lightgreen;
}

.varpack {
    color: lightseagreen;
}

.varpack:hover {
    color: cyan;
}

.artists {
    color: mediumpurple;
}

.artists:hover {
    color: lightpink;
}

/**/
#moremedia {
    color: rgb(134, 211, 211);
}

#moremedia:hover {
    color: rgb(17, 0, 255);
    font-size: 40px;
}

html {
    scroll-behavior: smooth;
}
.medianavigation {
    display: flex;
    justify-content: center;

}

.mainmid {
    max-width: 70%;
    margin: 0 auto;
    flex-wrap: wrap;
}

.fc {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

.fe {
    flex-basis: 30%;
    flex-grow: 1;
    max-width: 700px;
    min-width: 550px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

a, p, h1, h2, h3, h4 {
    user-select: white;
    outline: none;
    -webkit-tap-highlight-color: transparent;
}

::selection {
  background-color: white;
  color: black;
}

#qrpic {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 300px;
    height: 300px;
}

#titlediv {
    padding: 20px;
}

.mid {
    text-align: center;
    font-size: 20px;
    margin-bottom: 60px;
}

.midxtra {
    text-align: center;
    font-size: 15px;
    margin-bottom: 60px;
    color:rgb(147, 163, 179);
}

#qn {
    color: lightskyblue;
}

#qnsec {
    margin: 50px;
}

body {
    background-color: black;
    padding: 50px;
}


h1.titlething {
    text-align: center;
    color: white;
    font-family: srexp;
}

h1 {
    color: white;
    font-family: coolvetica;
}

#dnyear{
    transform: rotate3d(1, 1, 0, 30deg);
    color: rgb(76, 183, 255);
    font-family: coolvetica;
    font-size: 70px;
    margin-top: -30px;
    margin-bottom: -30px;
}

#dnmonth{
    transform: rotate3d(1, 1, 0, 25deg);
    color: rgb(154, 214, 255);
    font-family: coolvetica;
    font-size: 40px;
    margin-top: -40px;
    margin-bottom: -20px;
    position: relative;
    left: 15px;
    text-shadow: 0 0 10px black;
}

#dnday{
    transform: rotate3d(1, 1, 0, 20deg);
    color: rgb(205, 235, 255);
    font-family: coolvetica;
    margin-top: -25px;
    margin-bottom: -20px;
    position: relative;
    left: 30px;
    text-shadow: 0 0 10px black;
}

#dnentryt{
    transform: rotate3d(1, 1, 0, 15deg);
    color: rgb(247, 252, 255);
    font-family: coolvetica;
    margin-top: 0px;
    margin-left: 20px;
    margin-bottom: -45px;
    position: relative;
    left: 45px;
    text-shadow: 0 0 10px black;
}

#dnentrybody{
    transform: rotate3d(1, 1, 0, 10deg);
    color: rgb(215, 222, 227);
    font-family: coolvetica;
    margin-top: 45px;
    margin-bottom: 30px;
    position: relative;
    left: 90px;
    text-shadow: 0 0 10px black;
}

p {
    color: white;
    font-family: coolvetica;
}

h2 {
    color: white;
    font-family: coolvetica;
}

#subcountdiv {
    padding: 50px;
}

#subcount, #subcounttext, #smalltext {
    margin: 0px;
    padding: 0px;
}

#subcount {
    font-size: 70px;
}

#smalltext {
    font-size: 10px;
    color: rgb(83, 91, 98);
}

#smalltextnopadding {
    font-size: 10px;
    color: rgb(83, 91, 98);
    margin-top: -22px;
}

#smalltextheadextra {
    font-size: 10px;
    color: rgb(61, 68, 75);
    margin-top: -22px;
}


a {
    text-decoration: none;
    color: lightslategray;
    font-family: coolvetica;
    transition: font-size 0.6s cubic-bezier(0.2, 0, 0, 1), color 0.4s cubic-bezier(0, 1 ,1 ,1);
}

#leafyrope {
    text-decoration: none;
    color: rgb(50, 192, 109);
    font-family: coolvetica;
    transition: font-size 0.6s cubic-bezier(0.2, 0, 0, 1), color 0.4s cubic-bezier(0, 1 ,1 ,1);
}

#dailynotebook {
    text-decoration: none;
    color: rgb(169, 188, 208);
    font-family: coolvetica;
    transition: font-size 0.6s cubic-bezier(0.2, 0, 0, 1), color 0.4s cubic-bezier(0, 1 ,1 ,1);
}

#yt {
    text-decoration: none;
    color: crimson;
    font-family: coolvetica;
    transition: font-size 0.6s cubic-bezier(0.2, 0, 0, 1), color 0.4s cubic-bezier(0, 1 ,1 ,1);
}

a:hover {
    color: lightskyblue;
    font-size: 20px;
}

#leafyrope:hover {
    color: rgb(192, 255, 220);
    font-size: 40px;
}

#dailynotebook:hover {
    color: rgb(175, 164, 255);
    font-size: 40px;
}

#yt:hover {
    color: lightcoral;
    font-size: 40px;
}

.backmarg {
    margin-top: 50px;
}

.bg {
    z-index: 0;
    display: grid;
    position: fixed;
    width: 1000%;
    height: 1000%;
    margin: -50px;
    background-size: 40px 40px;
    background-image: radial-gradient(circle, #9d9d9d 1px, rgba(0, 0, 0, 0) 1px);
    background-repeat: space;
    animation: backgrid linear;
    animation-timeline: scroll();
    pointer-events: none;
}

@keyframes backgrid {
    to {
        transform: translateY(-100px)
    }
}

.bg2 {
    display:fixed;
}

.mfre {
    color: rgb(116, 169, 248)
}

.mfre:hover {
    color: rgb(191, 210, 238)
}

.mega {
    color: rgb(255, 80, 103)
}

.mega:hover {
    color: rgb(255, 135, 161)
}

.trrn {
    color: rgb(80, 255, 109)
}

.trrn:hover {
    color: rgb(171, 255, 203)
}

.artistcolorcodelegend {
    font-size: 12px;
    line-height: 0.8;
}